# See https://help.github.com/ignore-files/ for more about ignoring files.
style.prefix.css
# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


public/css/style.comp.css
style.comp.css
public/css/style.css
style.css
.prettierrc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
