.containerrr {
    width: 25%;
    height: 50rem;
    padding: 2.5rem;
    margin: 5rem;
    position: center;

    background-color: var(--color-primary-2)
}

.containerz {
  display: flex;
  justify-content: center;
}
