.headerz {
    background-color: var(--color-primary-1);
    border-bottom: var(--line);
    padding: 2rem;
    font-size: 2rem;
}

.headerzz {
  padding: 2rem;
}

.btn-login {
  padding: right 2rem;
}
