.navbar-list {
  color: black;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.navbar-list:hover {
  color: white !important;
  background-color: #e5b721;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.contactUs{
  color:black;
  margin-right: 20px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.navbar-list-contactUs:hover {
  color: white !important;
  background-color: #e5b721;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
