
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFCD05;
  font-size: 15px;
  &__container{
    height: 50px;

  }
}
.footerContainer{
    height: 50px;
}
