.ModalTop{
  border-bottom: none;
  border-radius: 0;
  background-color: var(--color-white);
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  span{
    color: black;
  }
  &__otp{
    background-color: white;
    border-bottom: none;
    span{
      color: black;
    }
  }
}

.modalz{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.containerModalOtp{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: disabled; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

//---------------------

/* Modal Content */
.modalOtp{
  position: relative;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto; /* Enable scroll if needed */
  border: 5px solid var(--white);
  height: 60%;
  width: 50%;
  margin-top: 5%;
  background-color: white;
}

@media (min-width: 1250px) {
  .modalOtp {
    width: 30%;
  }
}

.modalPrimary{

  &__phone{
    margin: 1.75rem auto;
    max-width: 60%;
    top: 35%;
    &__content{
      font-size: 20px;
      text-align: center;
      border-radius: 0;
      border: 2px solid grey;
      top: 35%;
      z-index: 10;
      background-color: lightgrey;
      justify-content: center;
      align-items: center;
      &__form{
        text-align: center;
      }
      &__buttonContainer{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
      }
    }

    &__input{
      border-radius: 4px;
      width: 50%;
      padding: 4px;
      font-size: 20px;
      background-color: white;
      border: 1px solid #FFCD05;
      &:focus{
        outline: none;
      }
    }
    &__button{
      cursor: pointer;
      width: 20%;
      font-size: 15px;
      background-color: white;
      border: 2px solid #FFCD05;
      border-radius: 5px;
    }
  }
}

@media (min-width: 200px ) and (max-width:766px ) {
  .modalPrimary{
    &__phone{
      max-width: 80%;
      &__content{
        font-size: 17px;
      }
      &__input{
        font-size: 14px;
      }
    }
  }

}

.modalContent {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto; /* Enable scroll if needed */
  border: 1px solid var(--none);
  border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 0;
  &__otp{
    text-align: center;
    &__input{
      padding: 5px;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
    &__button{
      font-size: 14px;
      margin-bottom: 10px;
      background-color: lightgrey;
      color: black;
      border: 2px;
      border-style: solid;
      border-color: lightslategrey;
    }
    &__label{
      font-size: 18px;
    }
    &__resend{
      cursor: pointer;
      background-color: lightgrey;
      color: black;
      border: 2px;
      border-style: solid;
      border-color: lightslategrey;
    }
  }
}

.otpLabel{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
//----------------------

@media (min-width: 767px ) {
  .modalContent{
    font-size: 14px;
  }
}
@media (min-width: 200px ) and (max-width:766px ) {
  .modalContent{
    font-size: 14px;
    width: 90%
  }
  .modalOtp{
    font-size: 14px;
    width: 85%
  }
  .modal__pulsa{
    font-size: 10px;
  }
}


.modalOtpUser{
  top: 35%;
  &__modalHeader{
    border-bottom: none;
  }
  &__container{
    background-color: lightgrey;
    border: 2px solid black;
    text-align: center;
  }
  &__input{
    width: 20%;
    margin: 10px;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    background-color: white;
    border: 2px solid #FFCD05
  }
  &__label{
    font-size: 14px;
    color: black
  }
  &__button{
    cursor: pointer;
    width: 15%;
    background-color: lightgrey;
    border: 1px solid #FFCD05;
    color: black;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 5%;
  }
}


.modal__provider{
  top: 20%;
  max-width: 70%;
  margin: 1.75rem auto;
  border: solid 1px lightgrey;
  &__header{
    border-bottom: none;
  }
  &__container{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
  }
  &__content{
    width: 100%;
    text-align: -webkit-center;
    border: solid 1px lightgrey;
    &__x{
      display: flex;
      justify-content: flex-end;
    }
  }
  &__logo{
    width: 80px;
    height: 80px;
    display: flex;  
    justify-content: center;
    &__image{
      width: 100%
    }
  }
  &__list{
    text-align: center;
    border-top: solid 1px lightgrey;
  }
  &__button{
    background-color: transparent;
    font-size: 10px;
    color: #FFCD05;
  }
}

@media (min-width: 200px ) and (max-width:560px ) {
  .modal__provider{
    max-width: 90%;

    &__content{
      font-size: 14px;
    }
    &__logo{
      width: 50px;
      height: 50px;
      &__image{
        width: 100%
      }
    }
  }
}

.modal__pulsa{
  top: 10%;
  max-width: 55%;
  font-size: 20px;
  margin: 1.75rem auto;
  &__container{
    width: 100%;
    display: flex;
  }

  &__content{
    width: 75%;
    &__1{
      &__logo{
        text-align: center;
        border: solid 1px lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 250px;

        &__image{
          width: 30%;
          &__tri{
            width: 20%;
          }
        }
      }
    }
    &__2{
      display: flex;
      justify-content: space-evenly;
      border: solid 1px lightgrey;
      &__logo{
        &__image{
          width: 100%;
        }
      }

      &__button{
        background-color: white;
        border-top: none;
        border-right: none;
        border-bottom: none;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
          cursor: pointer;
        }
        &:focus{
          background-color: lightgrey;
        }
      }
      &__map{
        display: flex;
        flex-direction: column;
      }
    }
    &__3{
      width: 25%;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__button{
        display: flex;
        justify-content: flex-end;

        &__x{
          color: #FFCD05;
          border: none;
          background: white;
          &:hover{
            cursor: pointer;
          }
        }
        &__price{
          width: 100%;
          color: white;
          background-color: grey;
          border: none;
          &:hover{
            cursor: pointer;
          }
          &__image{
            width: 20%;
            margin-left: 10%;
          }
        }
      }
    }
  }
}

@media (min-width: 200px ) and (max-width:766px ) {
  .modal__pulsa{
    font-size: 12px;
    max-width: 70%;
    &__content__1__logo{
      min-height: 110px;
    }
  }
}

.modal-open {
  overflow: scroll;
}

.modalText{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-title{
  width: 100%
}

.h4ModalTitle{
  padding-top: 15px;
}

.modal__confirm{
  top: 30%;
  max-width: 60%;
  font-size: 15px;
  margin: 1.75rem auto;
  &__container{
    background-color: rgb(175, 193, 203);
    padding: 3%;
    display: flex
  }
  &__label{
    width: 100%;
    margin-right: 40px;
  }
  &__button{
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    &__yes{
      width: 100px;
      border-radius: 5px;
      border: solid 2px #FFCD05;
      background-color: white;
    }
    &__no{
      width: 100px;
      border-radius: 5px;
      border: solid 2px #FFCD05;
      background-color: white;

    }
  }
}
@media (min-width: 767px ) and (max-width:882px ) {
  .modal__confirm{
    top: 23%;
    font-size: 12px;
    max-width: 60%;
    &__container{
      display: block;
      text-align: center;
    }
  }
}

@media (min-width: 200px ) and (max-width:766px ) {
  .modal__confirm{
    top: 23%;
    font-size: 12px;
    max-width: 80%;
    &__container{
      display: block;
      text-align: center;
    }
  }
}

.modal{
  &__check{
    margin: 1.75rem auto;
    top: 30%;
    border-radius: 2px;
    max-width: 60%;
    &__container{
      text-align: center;
      background-color: lightgrey;
      &__header{
        display: flex;
        justify-content: flex-end;
      }
      &__content{
      }
    }
    &__button{
      cursor: pointer;
      width: 3%;
      background-color: lightgrey;
      border: 1px solid grey;
      color: #FFCD05;
    }
    &__label{
      font-size: 30px;
      margin-bottom: 3%;
    }


    &__delete{
      display: flex;
      justify-content: space-evenly;
      &__content{

      }
      &__label{
        font-size: 20px;
      }
      &__button{
        cursor: pointer;
        width: 20%;
        font-size: 15px;
        border-radius: 4px;
        background-color: white;
        border: 1px solid #FFCD05;
        color: black;
        margin-bottom: 3%;
      }
    }


    &__add{
      &__input{
        width: 50%;
        font-size: 15px;
        margin-bottom: 2%;
        border: 2px solid #FFCD05;
        background-color: white;
      }
    }
  }
}

@media (min-width: 200px ) and (max-width:766px ) {
  .modal__check{
    max-width: 80%;
    &__button{
      width: 5%;
      background-color: lightgrey;
      border: 1px solid grey;
      color: #FFCD05;
    }
    &__label{
      font-size: 20px;
      margin-bottom: 3%;
    }
  }
}