.ModalTop{
  border-bottom: none;
  border-radius: 0;
  background-color: var(--color-grey-5);
  span{
    color: #FFCD05;
  }
  &__otp{
    background-color: white;
    span{
      color: black;
    }
  }
}

.modalz{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.containerModalOtp{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: disabled; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

//---------------------

/* Modal Content */
.modalOtp{
  position: relative;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto; /* Enable scroll if needed */
  border: 5px solid var(--white);
  height: 60%;
  width: 50%;
  margin-top: 5%;
  background-color: white;
}

.modalPrimary{

  &__phone{
    top: 35%;
    &__content{
      border-radius: 0;
      border: 5px solid var(--color-yellow-1);
      top: 35%;
      z-index: 10;
      background-color: black;
      justify-content: center;
      align-items: center;  
      &__form{
        margin-top: 20px;
        text-align: center;
      }
      &__buttonContainer{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
      }
    }

    &__input{
      border-radius: 4px;
      width: 50%;
      padding: 4px;
    }
    &__button{
      width: 20%;
    }
    &__alert{
      color: red;
      font-size: 17px;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}

.modalContent {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto; /* Enable scroll if needed */
  border: 5px solid var(--white);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 0;
  &__otp{
    text-align: center;
    &__input{
      padding: 5px;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__button{
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__label{
      font-size: 18px;
    }
    &__resend{
      // border: none;
      // background: white;
      // cursor: pointer;
      // &:hover{
      //   color: blue;
      // }
      // &:active{
      //   color: blue;
      // }
      // &:focus{
      //   color: blue;
      // }
    }
  }
}

.otpLabel{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
//----------------------

@media (min-width: 767px ) {
  .modalContent{
    font-size: 14px;
  }
}
@media (min-width: 200px ) and (max-width:766px ) {
  .modalContent{
    font-size: 14px;
    width: 90%
  }
  .modalOtp{
    font-size: 14px;
    width: 85%
  }
}


.modalOtpUser{
  top: 35%;
  &__modalHeader{
    border-bottom: none;
  }
  &__container{
    background-color: var(--color-grey-5);
    border: 5px solid #FFCD05;
    text-align: center;
  }
  &__input{
    width: 20%;
    margin: 10px;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
  }
  &__label{
    font-size: 14px;
    color: white
  }
  &__button{
    margin: 10px;
    font-size: 12px;
  }
}