body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbo{
  background-color: #000;
  margin-bottom: 0px;
}

.row{
  margin-right: 0px;
}

.navbar{
  background-color: #FF9800;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border-color: transparent;
  height: 60px;
  paddingTop: 10px;
  font-size: 30px;
  color: #fff;
}

.banner1{
  color: #fff;
}

.banner2{
  background-color: #FF9800;
  margin-bottom: 0px;
}

.banner3{
  background-color: #FF7F50;
  margin-bottom: 0px;
}

.betweenText {
  padding-left: 10px;
  padding-right: 10px;
  fontSize: 15px;
}
