.footerz {
  background-color: var(--color-footer);
  grid-column: full-start / full-end;
  padding: 5rem; }

.navfooter {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }

.linkfooter:link, .linkfooter:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: .25rem;
  display: block;
  transition: all .2s; }

.linkfooter:hover, .linkfooter:active {
  background-color: var(--color-grey-dark-1);
  transform: translateY(-3px); }

.SocialMedia {
  color: var(--color-primary-1);
  text-align: center; }

.footerz2 {
  font-size: 1.4rem;
  color: var(--color-primary-3);
  background-color: var(--color-primary-2);
  text-align: center; }

.Navbarz {
  background-color: var(--color-grey-dark-1);
  border-bottom: var(--line);
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 2rem;
  border-bottom: 0.5rem solid var(--color-primary-2); }
  .Navbarz__Link {
    padding: 5px; }
    .Navbarz__Link__img {
      margin: 0px !important; }
  .Navbarz__Right {
    margin: 0rem !important;
    padding: 0rem !important; }
  .Navbarz__Button {
    padding: 5px !important;
    margin: 20px !important;
    justify-content: center; }
    .Navbarz__Button__img {
      width: 25px;
      height: 25px; }
  .Navbarz__List {
    color: var(--color-primary-2) !important;
    padding-top: 20px !important; }
    .Navbarz__List:hover {
      color: white !important;
      background-color: #e5b721;
      height: 100%;
      width: 100%; }
  .Navbarz__ContactUs {
    color: var(--color-primary-2) !important;
    margin-right: 20px;
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
    .Navbarz__ContactUs:hover {
      color: white !important;
      background-color: #e5b721;
      height: 100%; }

.HeaderTop {
  background-color: #3E3E3E;
  border-bottom: 4px solid #FFCD05; }
  .HeaderTop__Right {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 0rem !important;
    padding: 0rem !important; }
  .HeaderTop__Button {
    padding: 5px !important;
    margin: 20px !important;
    justify-content: center; }
    .HeaderTop__Button__img {
      width: 25px;
      height: 25px; }
  .HeaderTop__ButtonTopUP {
    height: 40px;
    width: 200px;
    border: 2px solid #FFCD05;
    color: #FFCD05;
    background-color: #3E3E3E;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    margin-right: 20px !important; }
    .HeaderTop__ButtonTopUP__label {
      font-size: 18px; }
      .HeaderTop__ButtonTopUP__label__italic {
        font-size: 18px;
        font-style: italic; }
  .HeaderTop__List {
    color: var(--color-primary-2) !important;
    padding-top: 20px !important; }
    .HeaderTop__List:hover {
      color: white !important;
      background-color: #e5b721;
      height: 100%;
      width: 100%; }
  .HeaderTop__ContactUs {
    color: var(--color-primary-2) !important;
    margin-right: 20px;
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
    .HeaderTop__ContactUs:hover {
      color: white !important;
      background-color: #e5b721;
      height: 100%; }

.ButtonLogin {
  width: 150px;
  height: 40px;
  padding-left: 15px !important;
  padding-top: 0px !important;
  border-radius: 10px !important;
  background-color: #FFCD05 !important;
  display: flex !important;
  align-items: center !important;
  color: #3E3E3E !important;
  font-family: Raleway !important;
  font-size: 22px !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  margin: 10px !important; }
  .ButtonLogin__icon1 {
    width: 25px !important;
    height: 25px !important; }
  .ButtonLogin__icon2 {
    width: 25px !important;
    height: 25px !important; }

.Bar-First {
  margin: 0rem !important;
  padding: 0rem !important; }
  .Bar-First__col1 {
    padding: 0rem !important; }
  .Bar-First__col2 {
    padding: 0rem !important;
    position: relative !important; }
  .Bar-First__banner {
    width: 100%;
    float: left !important;
    max-width: 100%;
    height: auto; }
  .Bar-First__label {
    width: 300px;
    font-size: 25px;
    color: white;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 70%;
    transform: translateY(-50%); }
    .Bar-First__label__TextTop {
      margin-bottom: 10px; }
    .Bar-First__label__TextBottom {
      font-weight: bolder; }

.Bar-Second {
  background-color: var(--color-primary-2);
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 100%, 0% 50%, 0 0); }
  .Bar-Second__Text {
    font-size: 4rem;
    color: var(--color-primary-1); }

@media screen and (max-width: 574px) and (min-width: 300px) {
  .Bar-Second-Text {
    font-size: 21.7px; } }

.Bar-Third {
  background-color: var(--color-grey-light-4);
  height: 11rem;
  padding: 0rem; }
  .Bar-Third__clip {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 100%, 0% 50%, 0 0);
    background-color: var(--white);
    margin: 0rem;
    padding: 0rem; }
  .Bar-Third__img {
    height: 5rem;
    margin: 3rem; }

.Signup {
  display: flex;
  justify-content: center; }
  .Signup__container {
    width: 40rem;
    height: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2rem; }
    .Signup__container__small {
      font-size: 1rem; }
    .Signup__container__row1 {
      background-color: var(--color-container-1);
      padding: 2rem; }
    .Signup__container__icon {
      height: 15rem;
      align-items: center; }
    .Signup__container__form {
      padding-top: 2rem; }
    .Signup__container__row2 {
      background-color: var(--color-container-2);
      margin-top: 0rem;
      padding: 2rem; }
    .Signup__container__row3 {
      background-color: var(--color-container-1);
      margin-top: 0rem; }
    .Signup__container__button {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 4rem;
      padding-bottom: 4rem; }

.Login {
  display: flex;
  justify-content: center; }
  .Login__container {
    width: 40rem;
    height: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    box-shadow: var(--shadow-dark); }
    .Login__container__small {
      font-size: 1rem; }
    .Login__container__row1 {
      background-color: var(--color-container-1);
      padding: 2rem; }
    .Login__container__icon {
      height: 15rem;
      align-items: center; }
    .Login__container__form {
      padding-top: 2rem; }
    .Login__container__row2 {
      background-color: var(--color-container-2);
      margin-top: 0rem; }
    .Login__container__button {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 4rem;
      padding-bottom: 4rem; }
    .Login__container__row3 {
      background-color: var(--color-container-1);
      color: var(--color-grey-light-1);
      display: flex;
      justify-content: center; }
    .Login__container__label {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      align-content: center; }

.AboutUs {
  height: 75rem;
  width: 100%;
  background-color: var(--danger);
  display: flex;
  justify-content: center;
  align-items: center; }

.HowItWorks {
  height: 75rem;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.product {
  background-color: var(--color-primary-3); }

.carouselHome {
  width: 100%;
  height: 25rem; }

.NavTabsHome {
  background-color: var(--color-dark-3);
  color: var(--color-yellow-1) !important;
  margin: 0rem !important; }

.TabsHome {
  width: 25% !important;
  height: 5rem !important;
  text-align: center !important;
  margin: 0rem !important;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 11px;
  text-align: center; }
  .TabsHome__link {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    border: 0.25rem solid var(--color-primary-3) !important; }
    .TabsHome__link:hover {
      color: black !important;
      background-color: var(--color-primary-2); }
  .TabsHome__icon1 {
    height: 40px;
    width: 20px; }

.TabsPane1 {
  margin: 0rem;
  padding: 2rem;
  background-color: var(--color-primary-2); }
  .TabsPane1__text {
    font-size: 5rem !important;
    text-align: center !important;
    margin: 0rem; }
  .TabsPane1__label {
    margin: 0rem; }
  .TabsPane1__dropdown {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    margin-bottom: 5rem !important; }
    .TabsPane1__dropdown__content {
      flex: 1 1 200px; }
  .TabsPane1__button {
    color: var(--color-primary-2) !important;
    background-color: var(--color-primary-3) !important; }

.dropz {
  width: 10rem !important;
  height: 5rem !important; }
  .dropz:hover {
    color: black !important;
    background-color: var(--color-primary-2); }
  .dropz__img {
    width: 6rem;
    height: 3rem; }
  .dropz__item {
    min-width: 0rem !important;
    width: 8rem !important;
    text-align: center !important; }
    .dropz__item:hover {
      color: black !important;
      background-color: var(--color-primary-2); }

.BannerText1 {
  border-top: 0.25rem solid var(--color-primary-2) !important;
  height: 20rem;
  width: 100%;
  margin: 0rem !important;
  background-color: var(--color-primary-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .BannerText1__text1 {
    font-size: 2rem;
    padding: 2rem;
    margin: 0rem !important;
    color: var(--color-primary-2);
    text-align: center; }
  .BannerText1__text2 {
    padding: 2rem;
    margin: 0rem !important;
    margin: 0rem !important;
    font-size: 1rem;
    color: var(--color-primary-1); }

.BannerText2 {
  height: 15rem;
  width: 100%;
  margin: 0rem !important;
  background-color: var(--color-primary-1);
  color: var(--color-grey-dark-1);
  text-align: center; }
  .BannerText2__text1 {
    font-size: 2rem;
    padding: 2rem;
    margin: 0rem !important; }
  .BannerText2__text2 {
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0rem !important; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.logo {
  height: 4rem;
  margin: 2rem; }

.col-sm-6 {
  padding-right: 0; }

.BoxAladinLogo-Big {
  height: 50px;
  width: 200px;
  margin: 2rem; }

.a {
  background-color: #3E3E3E; }

.DropdownUser {
  width: 150px;
  height: 40px;
  padding: 0rem !important;
  padding-left: 15px !important;
  border-radius: 10px !important;
  background-color: #FFCD05 !important;
  display: flex !important;
  align-items: center !important;
  color: #3E3E3E !important;
  font-family: Raleway !important;
  font-size: 22px !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  margin: 10px !important; }
  .DropdownUser__icon1 {
    width: 25px !important;
    height: 25px !important; }
  .DropdownUser__label {
    height: 10px;
    width: 150px;
    color: #3E3E3E;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 11px;
    text-align: center; }
  .DropdownUser__item {
    width: 200px !important;
    min-width: 0rem !important;
    background-color: #FFCD05 !important; }
  .DropdownUser__inside {
    height: 50px !important;
    min-width: 0rem !important;
    background-color: #FFCD05 !important;
    color: #3E3E3E !important;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600; }
    .DropdownUser__inside__link {
      color: #3E3E3E !important;
      font-family: Raleway;
      font-size: 22px;
      font-weight: 600; }

hr {
  border: none !important;
  border-left: 1px solid black !important;
  height: 43px !important;
  width: 1px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 10px !important;
  margin-left: 25px !important; }

:root {
  --color-yellow-1: #FFCD05;
  --color-yellow-2: #FEC40C;
  --color-yellow-3: #F5A623;
  --color-yellow-4: #ffc300;
  --color-dark-1: #171717;
  --color-dark-2: #2f2f2f;
  --color-dark-3: #3e3e3e;
  --color-dark-4: #4a4a4a;
  --color-white: #ffffff;
  --color-grey-1: #989898;
  --color-grey-2: #979797;
  --color-grey-3: #D8D8D8;
  --color-grey-4: #f2f2f3;
  --color-grey-5: #3E3E3E;
  --color-grey-6: #BBBBBB;
  --color-grey-7: #000000;
  --color-grey-8: #959493;
  --color-grey-8: #BABABA;
  --color-blue-1: #4A90E2;
  --color-blue-2: #3C5193;
  --color-red-1: #ED3014;
  --color-red-2: #F34817;
  --color-red-3: #D0021B;
  --color-red-4: #DA4733;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }
