.bidding{
  background-color: white;
  display: flex;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;

  &__container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      &__button{
        display: flex;
      }
  }

  &__1{
    width: 100%;
    padding-bottom: 30px;

    &__Title{
      width: 100%;
      text-align: center;
      color: #FFCD05;
      font-family: Helvetica;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  &__2{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;

    &__col1{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFCD06;
      padding-top: 15px;
      padding-bottom: 15px;

      &__logo{
        width: 10%;
      }

      &__text{
        font-weight: bold;
        font-size: 30px;
      }
      &__textDistance{
        padding-left: 10px;
      }
    }

    &__col2{

      &__mid{
        color: black;
      }

      &__pulsa{
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
      }

      &__coret{
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 22px;
        font-weight: 900;
        line-height: 26px;
        text-decoration: line-through;
        text-align: center;
      }

      &__newPrice{
      	color: black;
      	font-family: Helvetica;
      	font-size: 80px;
      	font-weight: 900;

      }

      &__live{
        color: #FFCD05;
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;
      }

      &__text {
      	color: black;
      	font-family: Helvetica;
      	font-size: 14px;
      	font-weight: 600;
      	line-height: 16px;
        width:100%;
        display: flex;
        flex-direction: row-reverse;
      }

    }

  }

  &__3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;

    &__col{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      text-align: center;

      &__text{
      	color: black;
      	font-family: Helvetica;
      	font-size: 36px;
      	font-weight: 800;
      	line-height: 42px;
      }

      &__logoWatch{
        height: 75px;
        width: 100px;
        padding: 10px;
      }

      &__logoTimer{
        height: 75px;
        width: 100px;
        padding: 10px;
      }
      &__logoPrice{
        padding: 10px;
      }
      &__logoBuy{
        padding-right: 15px;
      }
      &__logoCancel{
        height: 50%;
        padding-right: 15px
      }
    }

  }

  &__4{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;


    &__btnBuy{
      // display: flex;
      // flex-direction: row;
      // justify-content: center;

      width: 80%;
      height: 75px;
      border-radius: 50px;

      background-color: #FFCD06;
    	color: #3E3E3E;
    	font-family: Helvetica;
    	font-size: 30px;
    	font-weight: bold;
    	line-height: 35px;
      display: flex;
      justify-content: center;
      &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

      }
    }
  }

  &__5{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__btnCancel{
      // display: flex;
      // flex-direction: row;
      // justify-content: center;

      width: 80%;
      height: 75px;
      border-radius: 50px;
      background-color: #989898;
      color: #3E3E3E;
      font-family: Helvetica;
      font-size: 30px;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      }
    }
  }

}

@media (min-width: 200px ) and (max-width:767px) {
  .bidding__2{
    display: block;
  }
  .bidding__2__col1{
    width: 100%;
    margin-bottom: 10px;
  }
  .bidding__3__col{
    font-size: 20px;
  }
  .bidding__3{
    display: block;
  }
}

@media (max-width:450px) {
  .bidding__2__col2__newPrice {
    color: #FFCD05;
    font-family: Helvetica;
    font-size: 60px;
    font-weight: 900;
  }
  .bidding__3__col__logoCancel {
    height: 0;
    width:0;
    padding-right: 0px;
  }
  .bidding__3__col__logoBuy {
    height: 0;
    width: 0;
    padding-right: 0px;
  }
  .biddingIconPriceStyle {
    display: flex;
    justify-content: center;
  }
}

biddingImage{
  width: 100%;
  height:50%;
}

.bidding__notif{
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
