.bidding{
  background-color: white;
  max-width: 80%;
  margin: auto;
  &__button{
    display: flex;
  }

  &__1{
    width: 100%;
    padding-bottom: 30px;
    &__Title{
      width: 100%;
      text-align: center;
      color: #FFCD05;
      font-family: 'Roboto', sans-serif;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  &__2{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    &__col2{
      &__pulsa{
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
      }

      &__newPrice{
      	font-size: 40px;
      	font-weight: 900;

      }

      &__live{
        color: #FFCD05;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;
      }

      &__text {
      	font-size: 14px;
      	font-weight: 600;
      	line-height: 16px;
        width:100%;
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }

  &__3{
    display: flex;
    justify-content: space-around;
    padding: 30px;

    &__col{
      text-align: center;

      &__text{
      	font-size: 30px;
      	font-weight: 800;
      	line-height: 42px;
      }

      &__logoWatch{
        height: 75px;
        width: 100px;
        padding: 10px;
      }

      &__logoTimer{
        height: 75px;
        width: 100px;
        padding: 10px;
      }
      &__logoPrice{
        padding: 10px;
        height: 100px;
      }
      &__logoBuy{
        padding-right: 15px;
      }
      &__logoCancel{
        height: 50%;
        padding-right: 15px
      }
    }
  }

  &__4{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__btnBuy{
      width: 80%;
      border-radius: 50px;
      background-color: #FFCD06;
    	font-size: 30px;
    	font-weight: bold;
    	line-height: 35px;
      &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      }
    }
  }

  &__5{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__btnCancel{
      width: 80%;
      height: 75px;
      border-radius: 50px;
      background-color: #989898;
      font-size: 30px;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      }
    }
  }
}
