.emailVerification{
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
  
    &__text{
      text-align: center;
      color: black;
      padding: 0%;
    }
  }
  