.game{
	background-color: white;
	font-size: 20px;
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/iconpulsa/opacityLogo.svg);
	background-size: 54% 75%;
	background-repeat: no-repeat;
	background-position: center;

	&__textHeader{
		font-size: 34px;
	}

	&__textKeytoCoin{
		font-size: 23px;
	}

	&__container{
		margin: auto;
		width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
		padding-top: 4%;
	}
	&__convert{
		text-align: center;
		display: flex;
    flex-direction: column;
		align-items: center;
		padding: 10%;
		&__button{
			width: 50%;
			font-size: 20px;
			border-radius: 6px;
			background-color: var(--color-yellow-1);
			border: 2px solid;
		}
	}
	&__slotCoin{
		text-align: center;
		margin: 10%;
		&__icon{
			width: 20%;
			margin-right: 10px;
		}
	}

	&__slotItems{
		width: 70%;
		border-radius: 10px;
		border: 1px solid rgb(186, 171, 171);
		margin-bottom: 10px;
		background-color: rgb(186, 171, 171);
			&__boxContainer {
				background-color: black;
				width: 100%;
				border-radius: 10px;
				&__box{
					display: flex;
				}
			}
		}

	&__prize{
		margin-top: 5%;
		text-align: center;
		font-family: Helvetica;
			&__textDistance{
				display: flex;
				flex-direction: column;
			}

			&__row{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
			}
			&__container{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				margin: 3%;
			}
			&__title{
				font-size: 30px;
			}

			&__img{
				width: 150px;
				height: 150px;
			}
	}

	&__slotButton {
    width: 20%;
		&__start{
			cursor: pointer;
			width: 100%;
			font-size: 15px;
			background-color: white;
			border: 2px solid #FFCD05;
			border-radius: 5px;
			margin-bottom: 5%;
			color: black;
		}
	}
}

@media (min-width: 275px )  {
  .game__slotItems{
		padding: 15px;
		width: 310px;
  }
}

@media (min-width: 350px ) and (max-width:500px ) {
  .game__slotItems{
		padding: 15px;
		width: 90%;
  }
}



.box1 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}



.box2 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
}


.box3 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: green;
}


.box4 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: grey;
}


.box5 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: blue;
}


.box6 {
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: purple;
}


.boxaladin {
	background-image: url('../../asset/Logo/LogoSmall.svg');
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: black;
	background-size: 100% 100%;
}


.gameModal{
	color: var(--color-yellow-1);
	background-color: black;
	border: 5px solid var(--color-yellow-1);
	top: 25%;

	&__Top{
		border-bottom: none;
		border-radius: 0;
		background-color: black;
	}

	&__Container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: black;

		&__item{
			display: flex;
			justify-content: center;
		}
		&__text{
			margin: 2.5%;
			text-align: center;
			font-family: Helvetica;
			// color: var(--color-yellow-1);
			font-size: 20px;
			font-weight: 500;
			line-height: 16px;
		}
	}
	&__icon{
		width: 250px;
		height: 250px;
	}
}




@media (min-width: 200px) and (max-width: 766px) {
    .gameModal__icon {
        width: 150px;
        height: 150px
	}
	.gameModal__Container__text {
        margin: 2.5%;
        text-align: center;
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 500;
        line-height: 16px
    }
}

@media (min-width: 767px) and (max-width: 1280px) {
    .gameModal__icon {
        width: 200px;
    	height: 200px
	}
	.gameModal__Container__text {
		margin: 2.5%;
		text-align: center;
		font-family: Helvetica;
		font-size: 30px;
		font-weight: 500;
		line-height: 16px
    }
}


.close{
	color: var(--color-yellow-1);
	&:hover{
		color: var(--color-yellow-1);
	}
	&:focus{
		color: var(--color-yellow-1);
		outline: none;
	}
}
