.homecontent{
  &__container{
    background-color: white;
  }
  &__top{
    background-color: var(--color-yellow-1);
    display: flex;
    padding-bottom: 4%;
    &__text{
      padding-top: 2%;
      padding-left: 5%;
      margin-bottom: 20px;
      &__top{
        font-size: 35px;
      }
      &__bot{
        font-size: 25px;
      }
      &__remember{
        display: flex;
        flex-direction: column;
        font-size: 35px;
        padding-left: 5%;
        &__top{

        }
        &__bot{

        }
      }
    }
    &__youtube{
      width: 100%;
      background-color: white;
      margin-right: 4%;
      margin-top: 4%;
      margin-bottom: 2%;
      margin-left: 2%;
    }
  }

  &__bottom{
    &__pulsa{
      display: flex;
      justify-content: space-evenly;
      font-size: 50px;
      margin-bottom: 5%;
      margin-top: -4%;
      &__button{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: white;
        border: 5px solid var(--color-yellow-1);
        &:hover {
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
        &__image{
          width: 75%;
        }
      }
    }
    &__check{
      text-align: right;
      &__button{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// for page home component banner text FAQ
.BannerText{
  &__body{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border-top: solid 1px;
    margin-top: 30px;
  }
  &__header{
    display: flex;
    justify-content: center;
    &__title{
      margin-top: -20px;
      background-color: white;
      border: solid 1px var(--color-yellow-1);
      border-radius: 10px;
      width: 20%;
    }
  }
  &__icon{
    &__left{
      display: flex;
      margin-right: 15px;
    }
    &__right{
      display: flex;
      margin-left: 15px;
    }
    &__register{
      width: 60px;
    }
    &__footer{
      display: flex;
      justify-content: center;
    }
  }

  &__content{
    margin-top: 20px;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    &__title{
      font-weight: 700;
      font-size: 25px;
      text-align: left;
      margin-left: 10px;
    }
    &__paragraph{
      font-size: 20px;
      text-align: left;
      margin-left: 10px;
    }

    &__footer{
      padding-bottom: 2%;
      font-size: 35px;

    }
  }

}

@media (min-width: 100px ) and (max-width:550px ) {
  .homecontent__bottom__pulsa{
    &__button{
      width: 60px;
      height: 70px;
      border-radius: 10px;
      margin: 2px;
      background-color: white;
      &__image{
        display: flex;
        width: 100%
      }
    }
  }
}

@media (min-width: 551px ) and (max-width:950px ) {
  .homecontent__bottom__pulsa{
    &__button{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      margin: 2px;
      background-color: white;
      &__image{
        display: flex;
        width: 100%
      }
    }
  }
}

@media (min-width: 951px ) and (max-width:1050px ) {
  .homecontent__bottom__pulsa{
    &__button{
      width: 150px;
      height: 150px;
      border-radius: 10px;
      margin: 2px;
      background-color: white;
      &__image{
        display: flex;
        width: 100%
      }
    }
  }
}

@media (min-width: 100px ) and (max-width:396px ) {
  .BannerText__content{
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    &__title{
      text-align: center;
      margin-left: 0;
    }
    &__paragraph{
      margin-left: 0;
      text-align: center;
      font-size: 17px;
    }
  }
  .BannerText__icon{
    margin: 0;
      &__register{
        width: 0;
        height: 0;
    }
  }
}

@media (min-width: 200px ) and (max-width:1050px ) {
  .homecontent__top{
    display: block;
    &__youtube{
      height: 200px;
      margin-left: 2%;
      width: 95%;
    }
  }
}