.InsertPhone{
  padding: 10%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;

  &__inputNumber{
    display: flex;
    justify-content: center;
  }

  &__inputHead{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;

    &__text{
      display: flex;
      font-size: 30px;
      justify-content: center;
      width: 72%;
    }

    &__inputBox{
      padding: 2%;
      width: 50%;
      font-size: 2rem;
      border: 2px solid black;
      border-radius: 10px
    }
    &__checkBox{
      display: flex;
      justify-content: center;
    }
    &__label{
      display: flex;
      justify-content: center;
      width: 40%;
    }
  }

  &__text{
    text-align: center;
    color: black;
    font-size: 35px;
  }

  &__textHead{
    display: flex;
    justify-content: center;
    padding-top: 40px;

    &__font{
      font-size: 40px;
    }
  }

  &__contentContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3%;

    &__logo{
      width: 17%;
      height: 100%;
    }

    &__text{
      font-size: 35px;
    }

    &__textDistance{
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-left: 2%;
    }

    &__label{
      font-size: 16px;
    }

    &__priceDistance{
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      padding-left: 3%;
    }

    &__price{
      width: 100%;
      font-size: 50px
    }

    &__labelPercentage{
      display: flex;
      flex-direction: row-reverse;
      font-size: 15px;
      color: #FFCD06
    }
  }

  &__buttonContainer{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: auto;
    &__button{
      border-radius: 10px;
      width: 30%;
      border: 2px solid #FFCD06;
      &:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      }
    }
  }

  &__game{
    &__image{
      display: flex;
      margin: auto;
      width: 35%;
      &__id{
        align-self: center;
        margin-bottom: 2%;
      }
    }
    &__inputHead{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 3%;
      &__container{
        display: flex;
        justify-content: center;
        font-size: 15px;
      }
      &__input1{
        text-align: center;
        padding: 5px;
        width: 20%;
        border: none;
        border-bottom: 1px solid #FFCD05;
        &:focus{
          outline: none;
        }
      }
      &__input2{
        width: 11%;
        text-align: center;
        padding: 5px;
        width: 20%;
        border: 1px solid black;
        border-top: none;
        border-bottom: 1px solid #FFCD05;
        border-radius: 10px;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        // border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
        &:focus{
          outline: none;
        }
      }
    }
  }

}

@media (max-width: 720px) {
  .InsertPhone{
    &__contentContainer{
      display: block;
      &__logo{
        width: 40%;
      }
    }
    &__inputHead {
      width: 100%
    }
    &__contentContainer{
      &__text{
        font-size: 20px;
      }
      &__price{
        font-size: 30px;
      }  
    }
    &__buttonContainer{
      width: 100%;
      margin: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }
}


@media (max-width: 1100px) {
  .InsertPhone__inputHead__text {
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    -ms-flex-pack: center;
    justify-content: center;
    width: 67%;
  }

  .InsertPhone__inputHead__label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30%;
  }

  .InsertPhone__textHead__font {
    font-size: 30px;
    text-align: center
  }
}
