.invoice{
    background-color: #3E3E3E;
    color: #FFCD05;
    &__container{
        min-height: 30rem;
        padding: 2.5%;
        padding-left: 15%;
        padding-right: 15%;
    }
    &__text{
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
    }
}

tr{
    font-size: 20px;
}
td{
    font-size: 15px;
}

#root {
    height: 100%;
  }