.invoice{
  background-color: white;
  width: 100%;
  &__container{
    color: black;
    padding: 2.5%;
    text-align: center;
  }
  &__text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  &__tab{
    width: 33.33%;
    font-size: 25px;
    text-align: center;
    &:active{
      background-color: #FFCD06
    }
    &:visited{
      background-color: #FFCD06
    }
    &:focus{
      background-color: #FFCD06
    }
  }
}

tr{
  font-size: 20px;
}
td{
  font-size: 15px;
}

@media (min-width: 200px ) and (max-width:680px ) {
  .invoice{
    overflow: hidden;
    &__container{
      overflow: scroll;
    }
  }

}

.nav-tabs .nav-link.active {
  background-color: #FFCD05;
  border-top: none;
}
