.layanan {
  background-color: white;
  &__container{
    min-height: 30rem;
    padding: 2.5%;
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
  }
  &__text{
    font-size: 15px;
    &__header{
      font-size: 30px;
      text-align: center;
    }
  }
  &__input{
    color: black;
    font-size: 13px;
    border-color: #FFCD05;
    &:focus{
      color: black ;
    }
    &__textarea{
      color: black;
      height: 200px;
      font-size: 13px;
      border-color: #FFCD05;
      resize: all; 
      &:focus{
        color: black ;
      }
    }
  }
  &__button{
    cursor: pointer;
    border: none;
    width: 30rem;
    padding: 7px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FFCD05;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    &__container{
      display: flex;
      justify-content: flex-end;
    }
  }
}

textarea { resize: none; }
