.Login {
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-black-1);
  text-align: center;
  padding: 5%;

  &__Title1{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &__Title2{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
  }

  &__Form{
    text-align: left;
  }

  &__LupaPassword{
    color: var(--color-yellow-1);
    font-style: italic;
  }

  &__ButtonLogin{
    color: var(--color-black-5);
    background-color: var(--color-yellow-1);
    border-color: var(--color-yellow-1);
    width: 100%;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    &:active{
      background-color: var(--color-yellow-1) !important;
      color: var(--color-black-3);
    }
    &:hover{
      background-color: var(--color-yellow-1);
      color: var(--color-black-3);
    }
    &:focus{
      background-color: var(--color-yellow-1);
      color: var(--color-black-3);
    }
  }

  &__Daftar{
    color: var(--white);

  }

  &__Link{
    color: var(--color-yellow-1);
    font-style: italic;
    &:hover{
      color: #007bff;
      cursor: pointer
    }
    &:focus{
      color: #007bff;
      cursor: pointer
    }

  }

}

.labelFont{
  font-size: 13px;
}




