.pembayaran{
  width: 100%;
  padding: 5%;
  background-color: white;

  &__buttonDetail{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 21px;
    color: lightgreen;
  }

  &__content{
    &__textDistance{
      display: flex;
      justify-content: space-around;
      padding-top: 5%;
      padding-bottom: 1%;
    }
  }

  &__container{
    margin: auto;
    max-width: 720px;
    width: 100%;
    background-color: var(--color-white);
    border: 2px grey solid;

    a.nav-link {
      padding: 1rem 4.565rem;
    }
  }

  &__title{
    text-align: center;
    padding-top: 1%;
    &__infoTime{
      text-align: center;
      padding-top: 1%;
      padding-bottom: 5%;
    }

    &__metodeBayar{
      padding-left: 3%;
      font-size: 19px
    }
    &__header{
      padding-top: 3%;
      padding-bottom: 3%;
      background-color: var(--color-yellow-1);
      padding-left: 2%;
      font-size: 21px;
    }
  }

  &__button{
    display: flex;
    height: 100%;

    &__invoice{
      padding: 6px;
    }
  }

}

.bankz{
  display: flex;

  &__icon{
    width: 125px;
    height: 50px;
    margin-right: 5%;
    margin-left: 5%;
  }

  &__name{
    font-size: 24px;
    font-weight: 900;
    line-height: 56px;
  }
}

@media (max-width: 500px)  {
  .bankz{
    display: block;
    text-align: center
  }
}

.nav-tabs{
  display: flex;
  justify-content: center;
}

.paymentGuide{
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 2%;
}
