.resetPassword{
  padding: 10%;
  padding-left: 20%;
  padding-right: 20%;
  border-top: 2px solid #FFCD05;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__box{
    border:2px solid #999999;
    border-radius: 7px;
    justify-content: space-between;
    width: 80%;
  }
  &__text{
    text-align: center;
    color: black;
    padding: 20px;
    border-bottom: 1px solid #999999;
  }
  &__textSuccess{
    text-align: center;
    color: black;
    padding: 20px;
    // border-top: 1px solid #999999;
  }
  &__input{
    border:1px solid #FFCD05;
    // width: 90%;
    &:focus{
      border:1px solid #FFCD05;
    }
  }
  &__button{
    // width: 90%;
    background-color: #FFCD05;
    color: black;
  }
  .form-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  &__formBox{
    display: flex;
    justify-content: center;
  }
  &__form{
    width: 90%;
  }
  &__img{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
  &__logo{
    margin-left: 10px;
  }
}
