.resetPassword{
  padding: 10%;
  padding-left: 20%;
  padding-right: 20%;
  border-top: 2px solid #FFCD05;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__box{
    border:2px solid #999999;
    border-radius: 7px;
    justify-content: space-between;
    width: 80%;
  }
  &__text{
    text-align: center;
    color: black;
    padding: 20px;
    border-bottom: 1px solid #999999;
  }
  &__textSuccess{
    text-align: center;
    color: black;
    padding: 20px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    display: flex;
  }
  &__input{
    border:1px solid #FFCD05;
    &:focus{
      border:1px solid #FFCD05;
    }
  }
  &__button{
    background-color: #FFCD05;
    color: black;
  }
  .form-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  &__formBox{
    display: flex;
    justify-content: center;
  }
  &__form{
    width: 90%;
  }
  &__img{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
  &__logo{
    margin-left: 20px;
  }
  &__wrapper{
    &__about{
      display: flex;
      flex: 1;
      flex-direction: row;
      height: 50px;
    }
  }
  &__textWarning{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    h1{
      margin-bottom: 0px;
      line-height: 0px;
      margin-top: 5.5px;
    }
  }
  &__image{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    image{
      &.resetPassword__logo{
        height: 40px;
      }
    }
  }
}
