.Signup {
  display: flex;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-black-1);
  text-align: center;
  padding: 2rem;

  &__Title{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 1rem;
  }

  &__Title2{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
  }

  &__Form{
    text-align: left;
    font-size: 17px;
  }

  &__Sex{
    border-radius: 5px;
    background-color: var(--color-grey-5);
    color: white;
    margin-left: 5px;
  }

  &__ButtonLogin{
    color: black;
    background-color: var(--color-yellow-1);
    border-color: var(--color-yellow-1);
    width: 100%;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
  }

  &__Condition{
    color: var(--white);
    margin: 1rem;
  }

}

.labelSignUp{
  display: flex;
  flex-direction: column;
}

.labelOtp{
  display: flex;
  flex-direction: column;
}

.otpModalFooter {
  border: none;
}
