.verified {
  &__profile {
    /* margin-left: 22%; */
    /* margin-right: 22%; */
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    border: 2px #FFCD05 solid;
    border-radius: 5px;
    /* padding-left: 51%; */
    margin-left: 10%;
  }
}



.user{
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  &__container {
    color: black;
    padding: 5%;
    padding-top: 3%;
    font-size: 30px;
    width: 70%;
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/iconpulsa/opacityLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__info{
    &__container{
      display: flex;
    }
  }

  &__title{
    width: 100%;
    text-align: center;
    font-size: 25px;
    &__header{
      width: 100%;
      text-align: center;
      font-size: 40px;
    }
  }

  &__show{
    border-bottom: 2px solid #FFCD05;
    display: flex;
    align-items: center;
    &__container{
      width: 100%;
    }
    &__logo{
      width: 5%;
      margin-right: 5%;
      &__verified{

      }
      &__user{
        width: 80%;
      }
    }
    &__email{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__button{
      cursor: pointer;
      font-size: 15px;
      background-color: white;
      border: 2px solid #FFCD05;
      border-radius: 5px;
      padding-left: 28%;
      padding-right: 28%;
      &__add{
        width: 30%;
        cursor: pointer;
        font-size: 15px;
        background-color: white;
        border: 2px solid #FFCD05;
        border-radius: 5px;
      }
    }
  }

  &__phone{
    // display: flex;
    // flex-direction: column;
    // font-size: 30px;

    &__row1{
      &__buttonverification{
        display: flex;
      }
      &__phoneNumber{
        display: flex;
        align-items: center;
      }

      &__phoneInfo{
        display: flex;
        justify-content: space-between;
      }

      &__phoneWidth{
      }
    }

  &__row2{
    width: 100%;


    &__li{
      display: flex;
    }

    &__number{
      width: 45%;
      // width: 75%;
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // font-size: 30px;
    }

  &__unverify{
    display: flex;
    width: 75%;
    justify-content: space-evenly;

    &__1{
      width: 33.3%;
      &__button1{
          width: 100%;
      }
    }

    &__2{
      width: 33.3%;
      &__button2{
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        background-color: white;
        border: 2px solid #FFCD05;
        border-radius: 5px;

      }
    }
    &__3{
      width: 33.3%;
      &__button3{
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        background-color: white;
        border: 2px solid #FFCD05;
        border-radius: 5px;
      }
    }
  }

  &__verify{
    // width: 75%;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;

    &__1{
      // width: 33.3%;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;
      &__label{
        // width: 100%;
        // text-align: center;
        // font-size: 22px;
        // margin: -4px;
      }
    }
    &__2{
      // width: 33.3%;
      &__button5{
          // width: 100%;
      }
    }
    &__3{
      // width: 33.3%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      &__check{
        // height: 20px;
        // margin: 4px;
      }
    }
  }
}

  &__row3{
    // width: 100%;
    // display: flex;
    // justify-content: space-around;
    text-align: center;

    &__button1{
      cursor: pointer;
      width: 30%;
      font-size: 15px;
      background-color: white;
      border: 2px solid #FFCD05;
      border-radius: 5px;
    }

    &__button2{
        // width: 45%;
    }
    }
  }
}

@media (min-width: 200px) and (max-width:768px) {

  .user{
    &__container{
      text-align: center;
      width: 95%;
      margin-bottom: 10%;
    }
    &__info{
      &__container{
        display: block;
      }
    }
    &__title{
      font-size: 25px;
    }
    &__show{
      font-size: 14px;
      padding-bottom: 1%;
      // &__email{
      //   font-size: 14px;
      // }
      &__container{
        width: 100%;
      }
      &__logo{
        width: 6%;
        &__verified{
          width: 70%;
          margin-left: 10%;
        }
        &__user{
          width: 30%;
        }
      }
      &__button{
        font-size: 12px;
      }
    }
    &__phone{
      font-size: 18px;
      &__row1{
        &__phoneInfo{
          font-size: 20px;
        }
      }

      &__row2{
        &__number{
          font-size: 20px;
        }
        &__verify{
          &__1{
            &__label{
              font-size: 10px;

            }
          }
        }
        &__number{
          font-size: 15px;

        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width:900px) {

  .user{
    &__container{
      text-align: center;
      width: 95%;
      margin-bottom: 10%;
    }
    &__info{
      &__container{
        display: block;
      }
    }
    &__title{
      font-size: 25px;
    }
    &__show{
      font-size: 20px;
      padding-bottom: 1%;
      &__container{
        width: 100%;
      }
      &__logo{
        width: 6%;
        &__verified{
          width: 70%;
          margin-left: 10%;
        }
        &__user{
          width: 30%;
        }
      }
      &__button{
        font-size: 20px;
      }
    }
  }
}
