.game{
	background-color: var(--color-grey-5);

	&__container{
		margin: auto;
		width: 100%;
		max-width: 600px;	
	}

	&__slotLabel{
		text-align: center;
		font-family: raleway;
			&__h1{
				color: #FFCD05;	
				font-size: 48px;	
				font-weight: 900;	
				line-height: 56px;
			}

			&__p{
				color: white;
				font-size: 14px;
				font-weight: 500;	
				line-height: 16px;
			}

	}


	
	&__slotCoin{
		width: 5%;
	}
	&__slotitems {
		display: flex;
		justify-content: center;
	}
	&__slotButton {
		display: flex;
		justify-content: center;
	}
}








.box1 {
	width: 100px;
	height: 100px;
	background-color: black;
	margin: 5px;
}

.box2 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin: 5px;
}

.box3 {
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 5px;
}

.box4 {
	width: 100px;
	height: 100px;
	background-color: grey;
	margin: 5px;
}

.box5 {
	width: 100px;
	height: 100px;
	background-color: blue;
	margin: 5px;
}

.box6 {
	width: 100px;
	height: 100px;
	background-color: purple;
	margin: 5px;
}

.boxaladin {
	background-image: url("https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5du7QzV9m547GdgFGVuh2ckhRKGL9Q_1680x8400");
	width: 100px;
	height: 100px;
	margin: 5px;
	background-color: black;
	background-size: 100px 100px;
}
