.HomeContainer{
  background-color: var(--color-primary-2);
}

.TabsHome{
  width: 25% !important;
  text-align: center !important;
}

.TabsPane1{
  margin: 0rem;
  padding: 2rem;
  &__text{
    font-size: 5rem !important;
    text-align: center !important;
    margin: 0rem;
  }

  &__label{
    margin: 0rem;
  }

  &__dropdown{
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;

    &__content{
      flex: 1 1 200px;
    }
  }
}

.dropz{
  width: 8rem !important;
  &__item{
    min-width: 0rem !important;
    width: 8rem !important;
    text-align: center !important;
  }
}

.HomeBanner2{
  height: 15rem;
  width: 100%;
  background-color: var(--orange);

  &__text1{
    font-size: 2rem;
    padding: 2rem;
  }
  &__text2{
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.HomeBanner3{
  height: 15rem;
  width: 100%;
  background-color: var(--danger);

  &__text1{
    font-size: 2rem;
    padding: 2rem;
  }
  &__text2{
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
