//isi bar pertama dari bawah navbar
.Bar-First {
  margin: 0rem;
  &__col1{
    // gak bisa di timpa jadi di kasih !important
    padding: 0rem !important;
  }
  &__col2{
    // gak bisa di timpa jadi di kasih !important
    padding: 0rem !important;
    position: relative !important;
  }
  &__banner {
    // form barimages
    width: 100%;
    //float left
    float: left !important;
    // img fluid
    max-width: 100%;
    height: auto;
  }
  &__label{
    width: 300px;
    font-size:25px;
    color: white;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 70%;
    transform:translateY(-50%);
    &__TextTop{
      margin-bottom: 10px;
    }
    &__TextBottom{
      font-weight: bolder;
    }
  }
}


//isi bar kedua
.Bar-Second {
  background-color: var(--color-primary-2);
  height: 10rem;
  clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 100%, 0% 50%, 0 0);
  &__Text {
    font-size: 4rem;
    color: var(--color-primary-1);
  }
}

@media screen and (max-width: 574px) and (min-width: 300px) {
  .Bar-Second-Text{
    font-size: 21.7px;
  }
}

//isi bar ketiga dari bawah bar pertama

.Bar-Third {
  background-color: var(--color-grey-light-4);
  height: 11rem;
  padding: 0rem;
  &__clip{
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 100%, 0% 50%, 0 0);
    background-color: var(--white);
    margin: 0rem;
    padding: 0rem;
  }
  &__img {
    height: 5rem;
    margin: 3rem;
  }
}
