.RequestReset{
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--color-grey-5);
  
    &__text{
      text-align: center;
      color: var(--color-yellow-1);
    }
  }
  