.User{
    padding: 2.5%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: var(--color-grey-5);   
    color: var(--color-yellow-1);
    border: 5px solid #FFCD05;

    &__Label{
        color: var(--color-yellow-1);
        display: flex;
        justify-content: center;    
        font-size: 30px;
    }

    &__logo{
        width: 25px;
        height: 25px;
        margin: 5px;
    }

    &__Phone{
        display: flex;

        &__1{
        }
        &__2{
            width: 75%;
        }
    }
}