

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    height: 100%;
    // @media only screen and (max-width: $bp-large) {
    //     font-size: 50%;
    // }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    background-color: white;
    min-height: 100vh;

}
////////////////////////////////////////
// LOGO
.logo {
    height: 4rem;
    margin: 2rem;

}

.bodyContainer{
    min-height: calc(100vh - 50px);

}

.col-sm-6{
  padding-right: 0;
}

//remove arrow in input type number
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.baBackground{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/iconpulsa/opacityLogo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.baButton{
  border-radius: 5px;
  background-color: #FFCD05;
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  &:active{
    box-shadow: 0 2px rgba(0,0,0,0.2);
    transform: translateY(4px);
  }
  &:focus{
    outline: none;
  }
}

.ReactModal__Overlay--after-open{
  z-index: 20;
}

.tabactive{
  background-color: black;
  color: white;
  &-ba{
    background-color: #FFCD05;
    color: white;
  }
}

.isValid{
  border: 1px solid green;
}

.isInvalid{
  border: 1px solid red;;
}


