////////////////////////////////////////
// LOGO
.BoxAladinLogo-Big {
  height: 50px;
  width: 200px;
  margin: 2rem;
}

.DropdownUser{
  &__item{
    background-color: lightgrey;
    border-radius: 10px ;
    min-width: 205px;
    font-family: Helvetica;

  }
  &__inside{
    background-color: lightgrey;
    height: 50px ;
    font-family: Helvetica;
  	font-size: 22px;
    font-weight: 600;
    &:hover{
      background-color: #FFCD05 ;
    }
    &:active{
      background-color: #FFCD05 ;
    }
    &:focus{
      background-color: #FFCD05 ;

    }
    &__link{
      font-family: Helvetica;
      font-size: 22px;
      font-weight: 600;
      color: black;
      &:hover{
        color: black ;
        // text-decoration: none;
      }      
    }
  }
}
@media (min-width: 296px ) and (max-width:767px) {
  .DropdownUser__item{
    top: 180px !important;
    transform: translate3d(0px, -130px, 0px) !important;
  }
}

.form-horizontal{
  width: 100%;
  font-size: 20px;
}

.inputz{
  border: 2px solid var(--color-yellow-1);
  background: transparent;
  font-family: Helvetica;
  font-style: italic;
  font-size: 17px;
  box-shadow: none ;
  color: black;
  border-radius: 8px;
  &:focus{
    border: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Helvetica;
    font-style: italic;
    box-shadow: var(--color-grey-5);
    color: black;

  }
  &:hover{
    border: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Helvetica;
    font-style: italic;
  }
  &::placeholder{
    background: transparent;
    font-family: Helvetica;
    font-style: italic;
  }
  &:active{
    border: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Helvetica;
    font-style: italic;
  }
}

.alert{
  &__dompetAladin{
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__game{
    color: #ff2323;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__resetPassword{
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__user{
    color: #ff2323;
    display: flex;
    justify-content: center;
  }
  &__otp{
    color: #ff2323;
  }
  &__invoice{
    font-size: 25px;
  }
}
