////////////////////////////////////////
// LOGO
.BoxAladinLogo-Big {
  height: 50px;
  width: 200px;
  margin: 2rem;
}

.DropdownUser{
  &__item{
    background-color: #FFCD05 ;
    border-radius: 10px ;
    min-width: 205px;
    font-family: Raleway;

  }
  &__inside{
    color: #3E3E3E !important;
    background-color: #FFCD05 ;
    height: 50px ;
    font-family: Raleway;
  	font-size: 22px;
    font-weight: 600;
    &:hover{
      background-color: #FFCD05 ;
    }
    &__link{
      font-family: Raleway;
      font-size: 22px;
      font-weight: 600;
      color: #3E3E3E;
      &:hover{
        color: #3E3E3E ;
        // text-decoration: none;
      }
    }
  }
}
@media (min-width: 296px ) and (max-width:767px) {
  .DropdownUser__item{
    top: 180px !important;
    // transform: translate3d(0px, -130px, 0px) !important;
  }
}

.ModalTop{
  border-bottom: none;
  border-radius: 0;
  background-color: var(--color-grey-5);
  span{
    color: #FFCD05;
  }
}

.modalz{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

//---------------------

/* Modal Content */
.modalContent {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto; /* Enable scroll if needed */
  border: 5px solid var(--white);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 0;}

//----------------------

@media (min-width: 767px ) {
  .modalContent{
    font-size: 14px;
  }
}
@media (min-width: 200px ) and (max-width:766px ) {
  .modalContent{
    font-size: 14px;
    width: 80%
  }
}

.form-horizontal{
  width: 100%;
  font-size: 20px;
}

.inputz{
  border: transparent;
  border-bottom: 2px solid var(--color-yellow-1);
  background: transparent;
  font-family: Raleway;
  font-style: italic;
  font-size: 17px;
  color: var(--color-yellow-1);
  box-shadow: none ;
  &:focus{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
    box-shadow: var(--color-grey-5);
  }
  &:hover{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &::placeholder{
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &:active{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
}
.form-group.Login__Form input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-yellow-1) ;
  -webkit-box-shadow: 0 0 0 34px #3E3E3E inset !important;
}

.form-group.Signup__Form input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-yellow-1) ;
  -webkit-box-shadow: 0 0 0 34px #3E3E3E inset !important;
}

.alert{
  color: #ff2323;
  &__dompetAladin{
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__game{
    color: #ff2323;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__resetPassword{
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  &__user{
    color: #ff2323;
    display: flex;
    justify-content: center;
  }
}
