.footerz {
  display: flex;
  flex-direction: column;
  background: var(--color-dark-3);

  &__Top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__Left{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__box{
        display: flex;
        flex-direction: column;
        color: var(--color-yellow-1);
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        padding: 2rem;
      }

      &__label{
        margin: 2rem;
      }

      &__button{
        margin: 2rem;
        background-color: var(--color-yellow-1);
        color: var(--color-dark-3);
      }
    }

    &__Right{
      display: flex;
      align-items: center;

      color: var(--color-yellow-1);

      &__devide{
        display: flex;
        flex-direction: row;
      }

      &__Row1{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 2rem;
        &__list{
          margin-top: 2rem;
          margin-bottom: 2rem;

          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }

      &__Row2{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 2rem;
        &__list{
          margin-top: 2rem;
          margin-bottom: 2rem;

          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }

      &__Row3{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 2rem;

        &__logo{
          padding-top: 20px;
        }
      }
    }

  }

  &__Bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--color-yellow-1);
    &__labelTop{
      color: #3E3E3E;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
    &__labelBot{
      color: #3E3E3E;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 800;
      line-height: 16px;
    }
  }
}
  @media (min-width: 200px ) and (max-width:400px ) {
  .footerz__Top__Right__devide{
    display: block;
  }
}

.LogoFooter{
  width: 250px;
  height: 70px;
  margin: 2rem;
}

.LogoSosmed{
  &__facebook{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__twitter{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__instagram{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__youtube{
    padding-bottom: 10px;
  }
}


ul {
  list-style-type: none;
}

svg{
  fill:blue;
}
