
.footerz {
  display: flex;
  flex-direction: column;
  background: var(--color-dark-3);

  &__Top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid var(--color-yellow-1);

    &__Left{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: 5%;

      color: var(--color-yellow-1);
      font-family: Raleway;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;

      &__button{
        margin-top: 1rem;
        background-color: var(--color-yellow-1);
        color: var(--color-dark-3);
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        font-family: Raleway;
        border-radius: 4px;

        &:active{
          background-color: var(--color-yellow-1) !important;
          color: var(--color-dark-3);
        }
        &:hover{
          background-color: var(--color-yellow-1);
          color: var(--color-dark-3);
        }
        &:focus{
          background-color: var(--color-yellow-1);
          color: var(--color-dark-3);
        }
      }
    }

    &__Right{
      display: flex;
      align-items: center;
      margin-right: 2rem;
      color: var(--color-yellow-1);

      &__devide{
        display: flex;
        flex-direction: row;
      }

      &__Row1{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 2rem;


        &__list{
          margin-top: 2rem;
          margin-bottom: 2rem;

          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }

      &__Row2{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin: 2rem;


        &__list{
          margin-top: 2rem;
          margin-bottom: 2rem;

          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }

      &__Row3{
        font-family: Raleway;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;



        &__logo{
          padding-top: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

  }

  @media (max-width: 767px) {
  .footerz__Top__Left{
    padding: 0%;
    }
  }

@media (max-width: 767px) {
  .LogoFooter{
    width: 180px;
    }
  }

  &__Bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--color-yellow-1);
    &__labelTop{
      color: #3E3E3E;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
    &__labelBot{
      color: #3E3E3E;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 800;
      line-height: 16px;
    }
    &__label{
      text-align: center;
    }
  }

}
  @media (min-width: 100px ) and (max-width:396px ) {
  .footerz__Top__Right__devide{
    display: block;
  }
}

@media (max-width: 767px) {
  .footerz__bot{
    padding-left: 5%;
    padding-right: 5%;
  }
}

.LogoFooter{
  width: 240px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.LogoSosmed{
  &__facebook{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__twitter{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__instagram{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  &__youtube{
    padding-bottom: 10px;
  }
}


ul {
  list-style-type: none;
}
