.Navbarz {
    background-color: var(--color-primary-1);
    border-bottom: var(--line);
    padding: 2rem;
    font-size: 2rem;

    &__List {
      color: black;
      padding-top: 20px !important;
      padding-bottom: 20px !important;

      &:hover {
        color: white !important;
        background-color: #e5b721;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
    &__ContactUs{
      color:black;
      margin-right: 20px;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      &:hover {
        color: white !important;
        background-color: #e5b721;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
}
