.Navbarz {
    background-color: var(--color-primary-1);
    border-bottom: var(--line);
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 2rem;

    &__Link {
      padding: 5px;
      &__img{
        margin: 0px !important;
      }
    }

    &__List {
      color: black;
      padding-top: 20px !important;
      padding-bottom: 20px !important;

      &:hover {
        color: white !important;
        background-color: #e5b721;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
    &__ContactUs{
      color:black;
      margin-right: 20px;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      &:hover {
        color: white !important;
        background-color: #e5b721;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
}
