////////////////////////////////////////
// LOGO
.BoxAladinLogo-Big {
  height: 50px;
  width: 200px;
  margin: 2rem;
}

.DropdownUser{
  &__item{
    background-color: #FFCD05 ;
    border-radius: 10px ;
    min-width: 205px;
    font-family: Raleway;

  }
  &__inside{
    color: #3E3E3E !important;
    background-color: #FFCD05 ;
    height: 50px ;
    font-family: Raleway;
  	font-size: 22px;
    font-weight: 600;
    &:hover{
      background-color: #FFCD05 ;
    }
    &__link{
      font-family: Raleway;
      font-size: 22px;
      font-weight: 600;
      color: #3E3E3E;
      &:hover{
        color: #3E3E3E ;
        // text-decoration: none;
      }
    }
  }
}

.ModalTop{
  border-bottom: none;
  border-radius: 0;
  background-color: var(--color-grey-5);
  span{
    color: #FFCD05;
  }
}

.Modalz{
  margin-top:10%;
  border-radius: 0;
  border: 5px solid var(--white);
}

@media (min-width: 320px ) and (max-width:500px ) {
  .Modalz{
    margin-top:20%;
    font-size: 14px;
    margin-left: 43px;
    width: 80%;
    max-width: 100%;
  }
}



.inputz{
  border: transparent;
  border-bottom: 2px solid var(--color-yellow-1);
  background: transparent;
  font-family: Raleway;
  font-style: italic;
  color: var(--color-yellow-1);
  box-shadow: none ;
  &:focus{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &:hover{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &::placeholder{
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &:active{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
}
