////////////////////////////////////////
// LOGO
.BoxAladinLogo-Big {
  height: 50px;
  width: 200px;
  margin: 2rem;
}

.DropdownUser{
  width: 150px;
  height: 40px;
  padding: 0rem ;
  padding-left: 15px ;
  border-radius: 10px ;
  background-color: #FFCD05 ;
  display: flex ;
  align-items: center ;

  color: #3E3E3E ;
  font-family: Raleway ;
  font-size: 22px ;
  font-weight: 800 ;
  letter-spacing: 1px ;
  margin: 10px ;

  &__icon1{
    width: 25px ;
    height: 25px ;
  }

  &__label {
  	height: 10px;
  	width: 150px;
  	color: #3E3E3E;
  	font-family: Raleway;
  	font-size: 22px;
  	font-weight: 600;
  	line-height: 11px;
  	text-align: center;

  }
  &__item{
    width: 150px ;
    min-width: 0rem ;
    background-color: #FFCD05 ;
    border-radius: 10px ;
  }

  &__inside{
    height: 50px ;
    min-width: 0rem ;
    background-color: #FFCD05 ;
    color: #3E3E3E ;
    font-family: Raleway;
  	font-size: 22px;
  	font-weight: 600;
    &__link{
      color: #3E3E3E ;
      font-family: Raleway;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.dropdownLoginHr{
  border: none ;
  border-left: 1px solid hsla(200, 10%, 0%,100);
  height: 40px ;
  width: 1px ;
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-right: 9px ;
  margin-left: 31px ;
}

.dropdownProfileHr{
  border: none ;
  border-left: 1px solid hsla(200, 10%, 0%,100);
  height: 39px ;
  width: 1px ;
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-right: 11px ;
  margin-left: 20px ;
}
@media (max-width: 767px)  {
  .dropdownLoginHr{
    width: 0px;
    height: 0px;
  }
}

.ModalTop{
  border-bottom: none;
  border-radius: 0;
  background-color: var(--color-grey-5);
  span{
    color: #FFCD05;
  }
}

.Modalz{
  margin-top:10%;
  border-radius: 0;
  border: 5px solid var(--white);
}

@media (min-width: 275px ) and (max-width:500px ) {
  .Modalz{
    margin-top:20%;
    font-size: 14px;
    margin-left: 43px;
    width: 80%;
    max-width: 100%;
  }
}
// @media (max-width: 362px ) {
//   .Modalz{
//     font-size: 14px;
//     margin-left: 37px;
//     max-width:343px
//   }
// }



.inputz{
  border: transparent;
  border-bottom: 2px solid var(--color-yellow-1);
  background: transparent;
  font-family: Raleway;
  font-style: italic;
  color: var(--color-yellow-1);
  box-shadow: none ;
  &:focus{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &:hover{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &::placeholder{
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
  &:active{
    border: transparent;
    border-bottom: 2px solid var(--color-yellow-1);
    background: transparent;
    font-family: Raleway;
    font-style: italic;
    color: var(--color-yellow-1);
  }
}
