.footer{
  width:100%;
  color: white;
  background: black;
  font-size: 15px;

}

.logo-container img{
  margin-right: 8px;
} 

.footer-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-label{
  width: 310px;  
  font-size:20px;
  color: white;
  background-color: black;
  opacity: 0.65;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform:translateY(-50%);
}

@media only screen and (max-width: 360px){
  
}