.mobile-bidding{
  background-color: white;
  max-width: 80%;
  margin: auto;
  &__title{
    text-align: center;
    padding: 2%;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid;
  }
  &__button{
    &__container{
      display: flex;
      justify-content: space-around;
    }
    width: 45%;
    border-radius: 10px;
    background-color: #FFCD06;
    font-size: 20px;
  }
  &__displayPrice{
    display: flex;
    justify-content: flex-end;
    text-decoration-line: line-through;
    text-decoration-color: red;
  }
  &__content{
    border: 1px solid;
    max-width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #dee2e8;
  }
  &__2{
    width: 100%;
    text-align: center;
    &__text {
      width:100%;
      display: flex;
      flex-direction: row-reverse;
      font-size: 15px;
    }
  }

  &__3{
    display: flex;
    justify-content: space-around;
    padding: 30px;

    &__col{
      text-align: center;

      &__text{
      	font-size: 25px;
      	font-weight: 800;
      	line-height: 42px;
      }

      &__logoWatch{
        height: 75px;
        width: 100px;
        padding: 10px;
      }

      &__logoTimer{
        height: 75px;
        width: 100px;
        padding: 10px;
      }
    }
  }
}