@media (max-width: 767px)  {

  .ButtonHeader__big {
    background-color: transparent !important;
    background: transparent;
    margin-left: 15px;
    border: 2px solid;
    border-radius: 12px;
    padding-right: 0%;
    color: #FFCD05
  }

  .ButtonHeader__textMobile {
    color: black
  }

  .HeaderTop__Right {
    &.navbar-nav{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
  }

  .ButtonHeader {
    &.btn {
      &.btn-secondary {

      }
    }
  }

  .headMobile{
    &__text{
      font-size: 100%;
    }
  }

  .header-margin{
    margin: 0%;
    border: 2px solid #FFCD05;
    border-radius: 16px;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .HeaderTopM__logo{
    padding: 0%;
  }
}

.mobile__home{
  &__label{
    display: flex;
    justify-content: center;
  }
  &__content1{
    display: flex;
    justify-content: space-around;
  }
  &__content2{
    display: flex;
    justify-content: space-evenly;
  }

  &__button{
    width: 60px;
    height: 70px;
    border-radius: 10px;
    margin: 2px;
    background-color: white;
    &__image{
      display: flex;
      width: 100%
    }
  }
}
