@media (max-width: 767px)  {
  .HeaderTop__Right {
    &.navbar-nav{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
  }

  .ButtonHeader {
    &.btn {
      &.btn-secondary {
        width: 100%
      }
    }
  }

  .header-margin{
    margin: 0%;
    border: 2px solid #FFCD05;
    border-radius: 16px;
    width: 40%;
  }

  .HeaderTopM__logo{
    padding: 0%;
  }
}

.mobile__home{
  &__image{
    width: 100%;
    margin-bottom: 5%;
  }
  &__label{
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  &__content1{
    display: flex;
    justify-content: space-around;
  }
  &__content2{
    display: flex;
    justify-content: space-evenly;
  }

  &__button{
    width: 60px;
    height: 70px;
    border-radius: 10px;
    margin: 2px;
    background-color: white;
    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image{
      display: flex;
      width: 100%
    }
  }
}

@media (min-width:450px) {
  .mobile__home__button{
      width: 100px;
      height: 100px;
  }
}
