.mobile__pulsa{
  &__image{
    width: 100%;
    margin-bottom: 5%;
  }
  &__label{
    display: flex;
    justify-content: center;
  }
  &__content1{
    text-align: center;
    margin-bottom: 5%;
  }
  &__button{
    font-size: 20px;
    width: 110px;
    height: 50px;
    margin: 10px;
    border: 1px solid grey;
    background-color: white;
    &:active{
      background-color: #ffe680;
    }
    &:focus{
      background-color: #ffe680;
    }
    &__image{
      width: 80%;
      height: 80%;
    }
  }
}

.background{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/iconpulsa/opacityLogo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile__paket{
  &__button{
    font-size: 20px;
    width: 110px;
    height: 50px;
    margin: 10px;
    background-color: white;
  }
}

@media (min-width:390px) {
  .mobile__pulsa__button{
      width: 170px;
      height: 70px;
  }
}

@media (min-width:570px) {
  .mobile__pulsa__button{
      width: 230px;
      height: 80px;
  }
}

.mobile__topup{
  &__button{
    width: 35%;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    margin: 5%;
    &__container{
      display: flex;
      justify-content: center;
    }
    &__convert{
      width: 60%;
      height: 45px;
      border-radius: 10px;
      background-color: white;
      font-size: 15px;
      margin: 5%;
    }
  }
}

.mobile-modal-confirm{
  &-container{
    margin-top: 100%;
    border: 1px solid grey;
    background-color:#F2F2F2;
    padding: 3%;
    font-size: 16px;
  }
  &-label{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  &-button{
    width: 40%;
    background-color: #FFCD05;
    border-radius: 5px;
    &-container{
      display: flex;
      justify-content: space-around;
    }
  }
}

.mobile-home{
  &-tab{
    width: 100%;
    border-radius: 9px;
    color: black;
    border: white;
    background-color:#d8d8d8;
    &:focus{
      outline: none;
    }
    &-container{
      border-radius: 10px;
      text-align: center;
      border: 1px solid;
      width: 60%;
      display: flex;
      justify-content: space-around;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: lightgrey;
      font-size: 15px;
    }
  }

  &-image{
    width: 15%;
    &-container{
      text-align: center;
      border: 1px solid grey;
      width: 60%;
      margin: auto;
      border-radius: 10px;
      margin-bottom: 5%;
    }
  }
}

.tabactive{
  background-color: black;
  color: white
}

.mobile-modalBid{
  margin: 1.75rem auto;
  &__container{
    margin: auto;
    text-align: center;
    margin-top: 40%;
    border: 1px solid grey;
    background-color:#F2F2F2;
    padding: 3%;
    font-size: 16px;
    max-width: 70%
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__button{
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    margin-top: 5%;
    &:focus{
      outline: none;
      border: 2px solid;
      background-color: #FFE680;
    }
    &__container{
      display: flex;
      justify-content: space-around;
    }
    &__next{
      width: 40%;
      background-color:#FFCD05;
      border-radius: 5px;
      border: none;
    }
  }
}
